/* Frank Poth 08/23/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  display:grid;
  grid-template-areas:"header" "content" "footer";
  grid-template-columns:100%;
  grid-template-rows:min-content auto min-content;
  justify-items:center;
  min-height:100%;
  padding:8px;
  width:100%;

}

#content {

  background-color:#606870;
  box-shadow:0px 4px 4px #000000;
  display:grid;
  grid-area:content;
  width:100%;

}

@media screen and (max-width: 720px) {

  body {

    padding:0;

  }

}
