/* Frank Poth 08/23/2017 */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

:root {

  --dark-theme:#000000;

}

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  background:url("texture-1.png") repeat;
  display:grid;
  grid-template-areas:"header" "content" "footer";
  grid-template-columns:100%;
  grid-template-rows:min-content auto min-content;
  justify-items:center;
  min-height:100%;
  padding:8px;
  width:100%;

}

p {

  font-size:1.25em;

}

#content {

  display:grid;
  grid-area:content;
  grid-template-areas:"content contact";
  grid-template-columns:2fr 1fr;
  grid-template-rows:auto;
  width:100%;

}

@media screen and (max-width: 720px) {

  body {

    padding:0;

  }

  #content {

    grid-template-areas:"content" "contact";
    grid-template-columns:auto;
    grid-template-rows:auto auto;

  }

}
