/* Frank Poth 08/23/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  align-content:center;
  display:grid;
  justify-content:center;
  min-height:100%;

}
