<footer id = "footer">

  <script type = "text/javascript">AJAXKit.importMultiple(["tc-logo.svg", "templates/footer.js"]);</script>

  <div id = "footer-map-container">

    <iframe id = "footer-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJq2zJMQbyTYgR35NcaxC4M24&key=AIzaSyAetbEcreb9WtqCuu46ILKyaNCV7dzXy6g" allowfullscreen></iframe>

  </div>

  <div id = "footer-links">

    <a class = "footer-link" href = "#body">GO UP</a>

  </div>

</footer>

<script type = "text/javascript">

  document.head.appendChild(DOMKit.createElement("link", ["href=templates/footer.css", "rel=stylesheet", "type=text/css"]));
  document.currentScript.parentNode.removeChild(document.currentScript);

</script>
